.grid {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.grid > div {
    background-color: gray;
    padding: 1em;
    border: 1px solid black;
    
}

.grid > div:nth-child(odd) {
    background-color: #ddd;
}
#title {
    margin-left: 50%;
}


.menu {
    border: 1px solid red;
    height: 100%;
    
    
}
.menuDiv1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2em;
    margin: 10px;
    
}
.menuDiv2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2em;
    margin: 10px;
    
}
.menuItems {
    background-color: azure;
    border: 1px solid black;
    border-radius: 10%;
    width: 120px;
    height: 90px;
}
.menuItems:hover {
    opacity: 80%;
}





