.order {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.order .title {
  margin: 0;
  text-decoration: underline;
}

.order .status {
  font-weight: bold;
}

.order .sum {
    margin-top: 0.2rem;
    text-decoration: underline;
}

#mainbox{
  max-width: 1000px;
}

#orderTxt{
  text-transform: uppercase;
  text-align: center;
}