.buttonwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

.buttonwrapper button{
    margin-bottom: 2rem;
}

#mainbox{ 
    max-width: 1000px;
}

#PPphoto{
    height: 90px;
    border-radius: 100px;
    text-align: center;
    margin: 0px auto;
    border: 5px solid #ebdccc;
    margin-bottom: 20px;
    display: block;
    -webkit-box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.26); 
    box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.26);
}

#orders,#changeProfile,#settingsBtn,#logout{
    font-size: 13px;
    background-color: #57514b;
    color: #ebdccc;
    cursor: pointer;
    width: 230px;
    border: 3px solid #423d38;
    box-shadow: none;
    margin: 15px;
}


