#mainContainer{
    padding: 0px;
    text-align: center;
    margin: 0px auto;
}


#newsHeader{
    text-align: center; 
    margin: 0px auto;
    line-height: 10px;
  }

  .newsHeaderTxt{
    color: #7d746a;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .decoration{
    margin: 0px auto;
    color: #ebdccc;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: -6px;
    display: inline-block;
    
  }
  
  .newsTitle{
    color: #ebdccc;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 2px;
    display: inline-block;
    margin-top: 0px auto;
    margin-left: 20px;
    margin-right: 10px;
  }

  #newsBox{
    min-height: 510px;
    max-width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: solid 5px #ebdccc;
    border-radius: 20px;
    background-color: white;
}

.newsPhoto{
    width: 300;
    text-align: center;
    margin: -5px auto;
    margin-left: -8px;
    border: 5px solid #ebdccc;
}

  .newsContent{
  font-weight: lighter;
  font-size: 14px;
  color: #423d38;
  margin: 15px;
  }
