.mainbox{
    display: flex;
    flex-direction: row;
    padding: 1rem 1;
}

.food-button{
    width: 150px;
    height: 80px;
    border-radius: 30px;
    background-color: #7d746a;
    color: #423d38;
    border: 1px solid #7d746a;
    outline: none;
    font-weight: bold;
    margin-top: 7px;
    box-shadow: 4px 4px 2px grey;
}

.food-button:hover {
    background-color: #57514b;
    color: #ebdccc;
    cursor: pointer;
  }

.order-page-main-box{
    background-color: #ebdccc;
    width: 40%;
    height: 90%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: solid 1px #7d746a;
    box-shadow: 8px 8px 4px grey;
}

.food-menu{
    width: 50%;
}
