body {
    background-image: url("../Login_Page/Images/Test.png");
    background-repeat: no-repeat;
    background-size: 100%;

}
#wrapper {
    width: 35%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10%;
    border: 1px solid #7d746a;

}
#header {
    width: 100%;
    background-color: #7d746a;
    text-align: center;
    border-radius: 5px;
}
div h2 {
    font-size: 40px;
}
form {
    width: 50%;
    margin: 100px auto;

}

form div {
    margin: 3px auto;
}

#img-div {
    width: 150px;
    height: 150px;
    background-color: #FF1F1F;
    border-radius: 50%;
    margin-bottom: 20px;
}
img {
    width: 150px;
    height: 150px;
}
.textInput {
    margin-top: 2px;
    margin-bottom: 10px;
    height: 28px;
    border: 1px solid #5E6E66;
    font-size: 16px;
    padding: 1px;
    width: 100%;
}
.btn {
    margin-top: ;
    padding: 10px;
    width: 100%;


}
.val_error {
    color: #FF1F1F;
}
#background_input {
    background-color: #7d746a;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
#background_input p {
    margin-left: 25px;
}
#backBtn {
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;  
}
