* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-image: url("../Login_Page/Images/Bakgrunn.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 2rem 1rem 0 1rem;
}
#wrapper {
    height: 90vh;
    max-width: 50rem;
    margin: 0 auto;
    background: #ebdccc;
    border-radius: 0.5rem;
    border: 1px solid #7d746a;
    animation-name: FadeIn;
    animation-duration: 1s;
}

#header {
    text-align: center;
}

#header h2 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: #7d746a;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px grey;
    margin: 2rem 0 0 0;
}

#img-div {
    height: auto;
    width: 8rem;
    color: #7d746a;
}
#img-div {
    margin: 0 auto;
}

.textInput {
    margin-top: 2px;
    margin-bottom: 10px;
    height: 45px;
    font-weight: bold;
    box-shadow: 4px 4px 2px grey;
    background-color: #ebdccc;
    color: #423d38;
    border-radius: 30px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    border: 1px solid #423d38;  
}

.btn {
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;

    border-radius: 30px;
    height: 45px;
    background-color: #7d746a;
    color: #423d38;
    border: 1px solid #7d746a;
    outline: none;
    font-weight: bold;
    margin-top: 1px;
    box-shadow: 4px 4px 2px grey;
}
.val_error {
    color: #FF1F1F;
}
#background_input {
    width: 15rem;
    margin: 0 auto;
    height: 240px;
    background-color: #ebdccc;
    padding: 10px;
    margin-top: 2rem;
}

.buttoncontainer{
    margin-top: 1.5rem;
}

