body {
    background-image: url("../../App/Login_Page/Images/Bakgrunn_Fade.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainbox {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}
#mainbox {
    -webkit-box-shadow: 2px 5px 22px 0px rgba(0,0,0,0.48); 
box-shadow: 2px 5px 22px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    
}

#btncontainer{
    display: inline-block;
}
.ordre-button{
    margin-bottom: 1rem;
}

.bestillinger-button{
    margin-bottom: 1rem;
}

.ordrehistorikk-button{
    margin-bottom: 1rem;
}

#orderBtn,#activeBtn,#archiveBtn{
    height: 80px;
    display: inline-block;
    margin: 10px auto;
    font-size: 15px;
}
