body {
    background-image: url("../../App/Login_Page/Images/login_bakgrunn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.logoiconfrontpage{
    color:#7d746a;  
    margin-bottom: 2rem;
}

.logoiconfrontpage svg {
    height: auto;
    width: 10rem;
}
#mainbox {
    border-radius: 10px;
    box-shadow: 5px 2px 13px 5px rgba(0,0,0,0.54);
  }

.logotext-homepage{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #7d746a;
    letter-spacing: 2px;
    margin-right: 1rem;
    text-shadow: 2px 2px 2px grey;
}

.logotext-homepage h3 {
    margin: 0;
}

.login-homepage-username {
    margin-bottom: 0.5rem;
}

.login-homepage-password {
    margin-bottom: 2rem;
}

.val_error {
    height: 1rem;
    font-size: 1rem;
    color: red;
    text-align: center;
    margin: 5px 0;
}


